- @completed_challenges = @user.user_completed_challenges.includes(:challenge).order(:created_at).all
- @challenge_completion_times = {}
- @completed_challenges.each do |c|
  - @challenge_completion_times[c.challenge_id] = c.created_at
- @completed_challenges = @completed_challenges.map(&:challenge)

%h1
  %u= @user.username
  's Profile
.row.well.user
  .col-sm-6
    %h3 Stats
    %table.table
      %tr
        %th Username
        %td= @user.username

      %tr
        %th Points Total
        %td= @user.points
      %tr
        %th Challenges Completed
        %td= @completed_challenges.count
      %tr
        %th Hints Viewed
        %td
          = @user.challenge_hints.count
          = "(Total Cost: #{pluralize(@user.challenge_hints.sum(:cost), 'point')})"
      %tr
        %th Last Challenge Completed
        %td
          - if last_challenge = @completed_challenges.last
            = link_to last_challenge.challenge_group.name, last_challenge.challenge_group
            \/
            = link_to last_challenge.name, last_challenge
            %br
            = time_ago_in_words(@challenge_completion_times[last_challenge.id])
            ago
          - else
            #{@user.username} has not completed any challenges
      - if can? :manage, User
        %tr
          %th Last Login
          %td= @user.current_sign_in_at.nil? ? 'never' : time_ago_in_words(@user.current_sign_in_at) + ' ago'
  - if can? :read, Challenge
    .col-sm-6.challenges
      %h3
        Completed Challenges
        - if can? :manage, User
          = link_to 'Add', '#', class:'btn btn-xs btn-default', data: {toggle: 'modal', target: '#add_challenge_modal'}
          %small Click to remove completed status
      %table.table
        - ChallengeGroup.includes(:challenges).all.each do |cg|
          - next if cannot? :read, cg
          %tr
            - if cg.visible == 1
              %th.group
                %h5= link_to cg.name, cg
            - else
              %th.group.notvisible
                %h5= link_to cg.name, cg
            - i = 1 # cg.challenges.first.name.include?('0')? 0 : 1
            %td.list
              .btn-group
                - cg.challenges.each do |c|
                  - btn_class = 'btn btn-sm'+((@completed_challenges.include? c) ? ' btn-success' : ' btn-default')
                  %span
                    - if @completed_challenges.include? c
                      - time_ago = time_ago_in_words(@challenge_completion_times[c.id])
                      - if can? :manage, User
                        = link_to i.to_s.rjust(2, '0'), user_clear_challenge_path(@user, c.id), method: :delete, class: btn_class, title: "#{time_ago} ago", rel: 'tooltip', data: {placement: 'bottom',confirm: 'Are you sure?'}
                      - else
                        = link_to i.to_s.rjust(2, '0'), c, class: btn_class, title: "#{time_ago} ago", rel: 'tooltip', data: {placement: 'bottom'}
                    - else
                      = link_to i.to_s.rjust(2, '0'), c, class: btn_class
                    - i+=1


- if can?(:read, Role) or can?(:read, ChallengeFlag)
  .row.well.user
    - if can? :read, Role
      .col-sm-6
        %h3 Roles
        - roles = @user.roles.all
        - if roles.count > 0
          %ul
            - roles.each do |r|
              %li= r.name
        - else
          %strong No roles set
    - if can? :read, ChallengeFlag
      .col-sm-6
        %h3 Flags
        - if @user.challenge_flags.any?
          %table.table
            %tbody
              - @user.challenge_flags.includes(:challenge, challenge:[:challenge_group]).each do |f|
                %tr
                  %td
                    = link_to f.challenge.challenge_group.name, f.challenge.challenge_group
                    \/
                    = link_to f.challenge.name, f.challenge
                  %td
                    = f.value
                    - unless f.docker_container_id.blank?
                      %br
                      = "docker:#{f.docker_container_id}"
                  %td
                    = time_ago_in_words(f.created_at)
                    ago
                  - if can? :delete, f
                    %td= link_to 'Delete', f, method: :delete, class: 'btn btn-danger btn-mini', data: {confirm: 'Are you sure?'}
        - else
          %strong No flags set

.modal.fade#add_challenge_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Add Challenge to User
      .modal-body
        = render(partial: 'add_challenge_modal', locals: {user: @user})
