%h1
  %u= @user[:username]
  's Profile
.row-fluid.well
  .span5
    %h5 Stats
    %table{:class=>'table'}
      %tr
        %th Username
        %td= @user[:username]
      %tr
        %th Points Total
        %td= @user.points
      %tr
        %th Challenges Completed
        %td= @user.completed_challenges.count
      %tr
        %th Hints Viewed
        %td= @user.challenge_hints.count
      %tr
        %th Last Login
        %td= @user[:current_sign_in_at]

  - if can? :read, Challenge
    .span5
      %h5
        Completed Challenges
        - if can? :manage, User
          = link_to 'Add', '#', class:'btn btn-mini', data: {toggle: 'modal', target: '#add_challenge_modal'}
      - if @user.completed_challenges.any?
        %table{:class=>'table'}
          %thead
            %tr
              %th Challenge Group
              %th Name
              %th Points
              %th Completed On
              - if can? :manage, User
                %th Actions
          %tbody
            - @user.completed_challenges.joins(:challenge_group).order('challenge_groups.name').each do |c|
              %tr
                %td= link_to c.challenge_group.name, c.challenge_group
                %td= link_to c.name, c
                %td= "#{c.points - @user.challenge_hints.where(challenge_id: c.id).sum(:cost)} / #{c.points}"
                %td= @user.user_completed_challenges.where('challenge_id ='+c.id.to_s).first.created_at
                - if can? :manage, User
                  %td= link_to 'Clear', user_clear_challenge_path(@user, c.id), method: :delete, class: 'btn btn-danger btn-mini', data: {confirm: 'Are you sure?'}
      - else
        %strong No challenges completed

- if can?(:read, Role) or can?(:read, ChallengeFlag)
  .row-fluid.well
    - if can? :read, Role
      .span5
        %h5 Roles
        - if @user.roles.any?
          %ul
            - @user.roles.each do |r|
              %li= r.name
        - else
          %strong No roles set
    - if can? :read, ChallengeFlag
      .span5
        %h5 Flags
        - if @user.challenge_flags.any?
          %table{:class=>'table'}
            %thead
              %tr
                %th Challenge Group
                %th Challenge
                %th Flag
                - if can? :delete, ChallengeFlag
                  %th
            %tbody
              - @user.challenge_flags.each do |f|
                %tr
                  %td= link_to f.challenge.challenge_group.name, f.challenge.challenge_group
                  %td= link_to f.challenge.name, f.challenge
                  %td= f.value
                  - if can? :delete, f
                    %td= link_to 'Delete', f, method: :delete, class: 'btn btn-danger btn-mini', data: {confirm: 'Are you sure?'}
        - else
          %strong No flags set

= modal_dialog id: 'add_challenge_modal', header: {show_close: true, dismiss: '#add_challenge_modal', title: 'Add Challenge to User'}, body: render(partial: 'add_challenge_modal', locals: {user: @user})
