%h1 Challenge Groups
%table{:class=>'table'}
  %thead
    %tr
      %th Challenge Group
      %th Description
      %th Count
      %th Points Total
      - if can? [:update,:destroy], ChallengeGroup
        %th Manage
  %tbody
    %tr.challenge_group
    - @challenge_groups.each do |cg|
      %tr{class: (@num_complete[cg.id.to_s] == cg.challenges.count ? 'success' : '')}
        %td
          = link_to cg.name, challenge_group_path(cg.id)
        %td
          = cg.description
        %td
          - if user_signed_in?
            %span.label.fraction
              %span.numerator= @num_complete[cg.id.to_s] || 0
              %span /
              %span.denominator= cg.challenges.count
          - else
            = cg.challenges.count
        %td
          - if user_signed_in?
            %span.label.fraction
              %span.numerator= @subset_points[cg.id.to_s] || 0
              %span /
              %span.denominator= @group_totals[cg.id.to_s]
          - else
            = @group_totals[cg.id.to_s]
        - if can? [:update,:destroy], ChallengeGroup
          %td
            .btn-group
              - if can? :update, cg
                = link_to 'Edit', edit_challenge_group_path(cg), :class=>'btn btn-warning'
              - if can? :destroy, cg
                - if cg.challenges.count.zero?
                  = link_to 'Remove', challenge_group_path(cg), :class=>'btn btn-danger', :confirm=>"Are you sure you want to remove the '#{cg.name}' group?", :method=>:delete
                - else
                  = link_to 'Remove', '#', :class=>'btn btn-danger disabled'
.btn-toolbar
  .btn-group
    = link_to 'All Challenges', challenges_path, :class=>'btn'
    = link_to 'Leaderboard', leaderboard_path, :class=>'btn'
  .btn-group
    -if can? :create, ChallengeGroup
      = link_to 'New Group', new_challenge_group_path, :class=>'btn btn-primary'
    - if can? :create, Challenge
      = link_to 'New Challenge', new_challenge_path, :class=>'btn btn-primary'

:javascript
  $(function() {
    $('.label.fraction').each(function(n,label) {
      obj = $(label);
      n = obj.find('.numerator').html();
      d = obj.find('.denominator').html();
      if( n == d )
        obj.addClass('label-success');
    });
  });
