.hint
  .form-group
    - if hint.id?
      = hidden_field_tag 'challenge[challenge_hints_attributes][][id]', hint.id
      = hidden_field_tag 'challenge[challenge_hints_attributes][][_destroy]', 0
    %label.control-label.col-sm-2 Text
    .col-sm-8
      = text_area_tag 'challenge[challenge_hints_attributes][][hint_text]', hint.hint_text, rows: 5, class: 'form-control'
      %br
      .checkbox
        %label
          = check_box_tag 'challenge[challenge_hints_attributes][][hint_text_use_markdown]', 1, hint.hint_text_use_markdown
          Use Markdown
  .form-group
    %label.control-label.col-sm-2 Cost
    .col-sm-8
      = text_field_tag  'challenge[challenge_hints_attributes][][cost]', hint.cost, class: 'form-control'
  .form-group
    .controls.col-sm-2
      = link_to 'Remove', '#', onclick: 'removeHint(this); return false', class: 'btn btn-danger'
  %hr

