%table.table
  %thead
    %tr
      - if user_signed_in?
        %th Completed
      %th Challenge Name
      - if user_signed_in?
        %th Points Recieved / Total Points
      - else
        %th Points
      %th # Users Completed
      %th
  %tbody
    - if user_signed_in?
      - hint_costs = current_user.challenge_hints.where(challenge_id: @challenges.map(&:id)).group(:challenge_id).sum(:cost)
    - @challenges.each do |c|
      - is_completed = user_signed_in? && current_user.completed_challenge_ids.include?(c.id)
      %tr{class: (is_completed ? 'success' : '')}
        - if user_signed_in?
          %td
            - if is_completed
              %span.label.label-success YES
            - else
              %span.label.label-default NO
        %td
          %strong
            - if can? :show, c
              = link_to c.name, c
            - else
              = c.name
        %td
          - if user_signed_in?
            - if is_completed
              = c.points - (hint_costs[c.id] || 0)
            - else
              0
            = "/ #{c.points}"
          - else
            = c.points
        %td
          = c.users_completed.where('user_id not in(?)', Role.find_by_name('admin').users.all.map(&:id)).count
        %td
          .btn-group.btn-group-xs
            = link_to 'Leaderboard', leaderboard_challenge_path(c), class: 'btn btn-default'
            - if can? :update, c
              = link_to 'Edit', edit_challenge_path(c), class: 'btn btn-warning'
            - if can? :destroy, c
              = link_to 'Remove', challenge_path(c), class: 'btn btn-danger', method: :delete
