%table{:class=>'table'}
  %thead
    %tr
      - if user_signed_in?
        %th Completed
      %th Challenge Name
      %th Points
      %th Complete Count
      %th
  %tbody
    - @challenges.each do |c|
      %tr{class: ((user_signed_in? and current_user.completed_challenges.include? c) ? 'success' : '')}
        - if user_signed_in?
          %td
            - if current_user.completed_challenges.include? c
              %span.label.label-success YES
            - else
              %span.label.label NO
        %td
          - if can? :show, c
            = link_to c.name, c
          - else
            = c.name
        %td
          = c.points
        %td
          = c.users_completed.count
        %td
          .btn-group
            = link_to 'Leaderboard', leaderboard_challenge_path(c), :class=>'btn'
            - if can? :update, c
              = link_to 'Edit', edit_challenge_path(c), :class=>'btn btn-warning'
            - if can? :destroy, c
              = link_to 'Remove', challenge_path(c), :class=>'btn btn-danger', :method=>:delete
