%ul.breadcrumb
  %li
    = link_to "Challenges", ChallengeGroup
    %span.divider /
  %li
    = link_to @challenge.challenge_group.name, @challenge.challenge_group

%h1{style:'display:inline'}= @challenge.name
- if user_signed_in?
  - if current_user.completed_challenges.include? @challenge
    %span.label.label-success Completed
  - else
    %span.label.label Not Completed
%br
%br

%table.table
  %tr
    %th Points
    %td= @challenge.points
  %tr
    %th Description
    %td= @challenge.description_html
  %tr
    %th Hint
    %td= @challenge.hint_html

.btn-toolbar
  .btn-group
    - if can? :goto, @challenge
      = link_to "Go", challenge_goto_path(@challenge), :class => 'btn btn-primary'
  .btn-group
    - if can? :update, @challenge
      = link_to "Edit", edit_challenge_path(@challenge), :class => 'btn btn-warning'
    - if can? :destroy, @challenge
      = link_to 'Remove', challenge_path(@challenge), :class=>'btn btn-danger', :method=>:delete

