- challenge_launched = (current_user.try(:launched_challenges)||[]).include?(@challenge)

%ol.breadcrumb.panel
  %li
    = link_to 'Challenges', ChallengeGroup
  %li
    = link_to @challenge.challenge_group.name, @challenge.challenge_group

%h1{style:'display:inline'}
  - if user_signed_in? and current_user.completed_challenges.include? @challenge
    %i.fa.fa-check-square.text-success
  = @challenge.name
= render partial: 'challenges/tags', locals: {challenge: @challenge}
%br
%br

%table.table
  %tr
    %th Points
    %td= @challenge.points
  - unless current_user.nil? or @docker_status.nil?
    %tr
      %th Status
      %td
        %strong= @docker_status[:status].to_s.humanize
        %br
        To access the challenge use the following IPs / Ports:
        %table.table.table-condensed
          - @docker_status[:ports].each do |port|
            %tr
              %td
                - if port[:type] == 'tcp' and port[:internal].to_i == 80
                  = link_to "http://#{port[:ip]}:#{port[:external]}", "http://#{port[:ip]}:#{port[:external]}"
                - elsif port[:type] == 'tcp' and port[:internal].to_i == 443
                  = link_to "https://#{port[:ip]}:#{port[:external]}", "https://#{port[:ip]}:#{port[:external]}"
                - else
                  %strong= "#{port[:type]}://#{port[:ip]}:#{port[:external]}"
                  = "(Maps internally to #{port[:type]} port #{port[:internal]})"
  %tr
    %th Instructions
    %td
      - if @challenge.launch_none?
        Click "Start Challenge" below and then
      - elsif @challenge.launch_download?
        Download the challenge by clicking "Start Challenge" and then
      - elsif @challenge.launch_docker?
        Clicking "Start Challenge" below will setup a server for you to use. Then
      - else
        %strong [Insert instructions here]
      - if @challenge.submit_simple?
        enter the challenge flag in the form below.
      - elsif @challenge.submit_service?
        configure the server to meet the requirements below.
      - elsif @challenge.submit_auto?
        once you complete this challenge the flag will automatically be submitted for you.
      - else
        %strong [Insert instructions here]
  %tr
    %th Description
    %td= @challenge.description_html

= render 'hints'

- if challenge_launched
  = render 'submit_form'

.btn-toolbar
  .btn-group
    - if can? :launch, @challenge
      - if challenge_launched
        - if @challenge.submit_service?
          = link_to 'Submit for Grading', challenge_complete_path(@challenge), class: 'btn btn-success', data: {confirm: 'Are you sure you wish to be graded on this challenge?'}
        - if @challenge.launch_download?
          =link_to 'Download', @challenge.url, class: 'btn btn-primary', target: '_blank', download: ''
        - if can? :destroy, @current_user_flag
          = link_to 'Give Up', @current_user_flag, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
      - else
        - if user_signed_in? and current_user.launched_challenges.count > 0
          %div(data-toggle='tooltip' data-placement='bottom' title='Cannot start challenge while another is in progress')
            %span.btn.btn-primary.disabled Start Challenge
        - else
          = link_to 'Start Challenge', challenge_launch_path(@challenge), class: 'btn btn-primary'
  .btn-group
    = link_to 'Challenge Group', @challenge.challenge_group, class: 'btn btn-default'
    = link_to 'Leaderboard', leaderboard_challenge_path(@challenge.id), class: 'btn btn-default'
  .btn-group
    - if can? :update, @challenge
      = link_to 'Edit', edit_challenge_path(@challenge), class: 'btn btn-warning'
    - if can? :destroy, @challenge
      = link_to 'Remove', challenge_path(@challenge), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}

